footer {
    & .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 16px;
        background: #232323; 
    }
    & .footer-logo {
        padding-top: 3rem;
        text-align: center;
        margin-bottom: 10px;
        a {
            text-decoration: none;
            color: $primary-color;
            font-family: $font-family;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px; /* 108.333% */
            letter-spacing: 3.36px;
        }
        .tagline {
            color: $primary-color;
            text-align: center;
            font-family: $font-family;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 162.5% */
            letter-spacing: 1.6px;
        }
    }   
    .footer-content {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin: 0 10px;

                a {
                    text-decoration: none;
                    color: #E8E8E8;
                    font-size: 24px; 
                }
            }
        }
    }

    @media screen and (min-width: 320px) and (max-width: 900px) {
        @media screen and (max-width: 1000px) {
            @media screen and (max-width: 800px) {
                .footer-container {
                    flex-direction: column;
                    align-items: center;
                }

                .footer-logo {
                    padding-top: 2rem;
                    margin-bottom: 8px;

                    a {
                        font-size: 20px;
                        letter-spacing: 2.8px;
                    }

                    .tagline {
                        font-size: 14px;
                        letter-spacing: 1.2px;
                    }
                }

                .footer-content {
                    ul {
                        flex-direction: column;
                        align-items: center;

                        li {
                            margin: 5px 0;

                            a {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
  
   