.section2 {
  .vector-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .vector-1 {
      margin-bottom: 20px; 

      svg {
        display: block;
      }
    }

    .vector-2,
    .vector-3,
    .vector-4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 20px; 
      text-align: center;

      img {
        display: block;
        margin-bottom: 10px; 
      }
    }

    .vectors {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; /* Allow wrapping on smaller screens*/
    }
  }
}
