.section2 {
  .vector-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333333; 
    height: 50vh; 

    .vector-1 {
      stroke-width: 1px;
      stroke: #FFF;
      opacity: 0.5;
      padding-top: 30px; 

      svg {
        display: block;
      }
    }

    .vectors {
      display: flex;
      justify-content: space-between;
      width: 100%; 
      max-width: 777px;  
      align-items: center;
      gap: 20px; 
    }

    .vector-2,
    .vector-3,
    .vector-4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      img {
        display: block;
        margin-bottom: 10px; 
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .vector-container {
      .vectors {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
    }
  }

  @media screen and (max-width: 900px) {
    .vector-container {
      .vectors {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .vector-container {
      .vectors {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 900px) {
    .vector-container {
      .vectors {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
    }
  }
}

